[submodule "src/blockly"]
	path = src/blockly
	url = https://github.com/google/blockly.git
[submodule "build/milascript"]
	path = build/milascript
	url = https://github.com/milapulgames/milascript.git
[submodule "build/pequescript"]
	path = build/pequescript
	url = https://github.com/gpfernandezflorio/pequescript.git
